{
  "openapi": "3.1.0",
  "info": {
    "title": "Heroku Managed Inference and Agents API",
    "description": "The Heroku Managed Inference and Agents API offers easy access to various large foundational AI models including language (chat), embedding, and diffusion (image) models.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://us.inference.heroku.com",
      "description": "US Production Server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/chat/completions": {
      "post": {
        "summary": "Chat Completions",
        "description": "Generates conversational completions for a provided set of input messages",
        "operationId": "createChatCompletion",
        "tags": ["Chat"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              },
              "examples": {
                "basic": {
                  "summary": "Basic chat completion",
                  "value": {
                    "model": "claude-4-sonnet",
                    "messages": [
                      {
                        "role": "system",
                        "content": "You are a helpful assistant."
                      },
                      {
                        "role": "user",
                        "content": "What is Heroku?"
                      }
                    ],
                    "max_completion_tokens": 1024,
                    "temperature": 0.7
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/messages": {
      "post": {
        "summary": "Messages (Anthropic)",
        "description": "Native Anthropic Messages API endpoint for Claude models. Use the Anthropic SDK with Heroku AI credentials.",
        "operationId": "createMessage",
        "tags": ["Messages"],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessagesRequest"
              },
              "examples": {
                "basic": {
                  "summary": "Basic message",
                  "value": {
                    "model": "claude-4-sonnet",
                    "max_tokens": 1024,
                    "messages": [
                      {
                        "role": "user",
                        "content": "Hello, what should I build today?"
                      }
                    ]
                  }
                },
                "with_system": {
                  "summary": "With system prompt",
                  "value": {
                    "model": "claude-4-sonnet",
                    "max_tokens": 1024,
                    "system": "You are a helpful Heroku expert.",
                    "messages": [
                      {
                        "role": "user",
                        "content": "How do I deploy a Python app?"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessagesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/agents/heroku": {
      "post": {
        "summary": "Agents (Heroku)",
        "description": "Interact with an agentic system that can autonomously invoke tools",
        "operationId": "createAgentCompletion",
        "tags": ["Agents"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response (Server-Sent Events)",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/embeddings": {
      "post": {
        "summary": "Embeddings",
        "description": "Generate vector embeddings for text",
        "operationId": "createEmbedding",
        "tags": ["Embeddings"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmbeddingRequest"
              },
              "examples": {
                "basic": {
                  "summary": "Basic embedding",
                  "value": {
                    "model": "cohere-embed-multilingual",
                    "input": [
                      "What is the capital of France?",
                      "Paris is the capital of France."
                    ],
                    "input_type": "search_document"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmbeddingResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/images/generations": {
      "post": {
        "summary": "Image Generation",
        "description": "Generate images from text prompts",
        "operationId": "createImage",
        "tags": ["Images"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageGenerationRequest"
              },
              "examples": {
                "basic": {
                  "summary": "Basic image generation",
                  "value": {
                    "model": "stable-image-ultra",
                    "prompt": "A serene mountain landscape at sunset with vibrant colors",
                    "aspect_ratio": "16:9",
                    "output_format": "png"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageGenerationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/mcp/servers": {
      "get": {
        "summary": "List MCP Servers",
        "description": "Returns a list of MCP servers registered to your chat model",
        "operationId": "listMCPServers",
        "tags": ["MCP"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MCPServer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/rerank": {
      "post": {
        "summary": "Rerank",
        "description": "Rank documents by semantic relevance to a query for improved RAG and search results",
        "operationId": "rerankDocuments",
        "tags": ["Rerank"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RerankRequest"
              },
              "examples": {
                "basic": {
                  "summary": "Basic rerank request",
                  "value": {
                    "model": "cohere-rerank-3-5",
                    "query": "How do I optimize database connection pooling?",
                    "documents": [
                      "Connection pooling reduces overhead by reusing existing connections.",
                      "You can monitor application performance using built-in metrics.",
                      "Set max pool size based on your dyno count and concurrent queries."
                    ],
                    "top_n": 2
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RerankResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token using your INFERENCE_KEY"
      },
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "API key using your INFERENCE_KEY (Anthropic-style authentication)"
      }
    },
    "schemas": {
      "ChatCompletionRequest": {
        "type": "object",
        "required": ["model", "messages"],
        "properties": {
          "model": {
            "type": "string",
            "description": "Model ID to use for completion",
            "example": "claude-4-sonnet"
          },
          "messages": {
            "type": "array",
            "description": "Array of message objects",
            "items": {
              "$ref": "#/components/schemas/Message"
            }
          },
          "max_completion_tokens": {
            "type": "integer",
            "description": "Maximum tokens to generate",
            "example": 1024
          },
          "temperature": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 1,
            "default": 1.0,
            "description": "Sampling temperature"
          },
          "top_p": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 1,
            "default": 0.999,
            "description": "Nucleus sampling threshold"
          },
          "stream": {
            "type": "boolean",
            "default": false,
            "description": "Stream responses via SSE"
          },
          "stop": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Strings that stop generation"
          },
          "tools": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tool"
            },
            "description": "Tools the model may call"
          },
          "tool_choice": {
            "oneOf": [
              {
                "type": "string",
                "enum": ["none", "auto", "required"]
              },
              {
                "type": "object"
              }
            ],
            "default": "required",
            "description": "Controls tool usage"
          }
        }
      },
      "Message": {
        "type": "object",
        "required": ["role", "content"],
        "properties": {
          "role": {
            "type": "string",
            "enum": ["system", "user", "assistant", "tool"],
            "description": "Role of the message"
          },
          "content": {
            "type": "string",
            "description": "Content of the message"
          }
        }
      },
      "Tool": {
        "type": "object",
        "required": ["type", "function"],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["function"],
            "description": "Type of tool"
          },
          "function": {
            "type": "object",
            "required": ["name"],
            "properties": {
              "name": {
                "type": "string",
                "description": "Name of the function"
              },
              "description": {
                "type": "string",
                "description": "Description of the function"
              },
              "parameters": {
                "type": "object",
                "description": "JSON Schema for parameters"
              }
            }
          }
        }
      },
      "ChatCompletionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique completion ID"
          },
          "object": {
            "type": "string",
            "enum": ["chat.completion"],
            "description": "Object type"
          },
          "created": {
            "type": "integer",
            "description": "Unix timestamp"
          },
          "model": {
            "type": "string",
            "description": "Model used"
          },
          "choices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Choice"
            }
          },
          "usage": {
            "$ref": "#/components/schemas/Usage"
          }
        }
      },
      "Choice": {
        "type": "object",
        "properties": {
          "index": {
            "type": "integer"
          },
          "message": {
            "$ref": "#/components/schemas/Message"
          },
          "finish_reason": {
            "type": "string",
            "enum": ["stop", "length", "tool_calls"]
          }
        }
      },
      "Usage": {
        "type": "object",
        "properties": {
          "prompt_tokens": {
            "type": "integer"
          },
          "completion_tokens": {
            "type": "integer"
          },
          "total_tokens": {
            "type": "integer"
          }
        }
      },
      "MessagesRequest": {
        "type": "object",
        "required": ["model", "max_tokens", "messages"],
        "properties": {
          "model": {
            "type": "string",
            "description": "Claude model ID to use",
            "example": "claude-4-sonnet"
          },
          "max_tokens": {
            "type": "integer",
            "description": "Maximum tokens to generate (required)",
            "example": 1024
          },
          "messages": {
            "type": "array",
            "description": "Array of message objects with user/assistant roles",
            "items": {
              "$ref": "#/components/schemas/AnthropicMessage"
            }
          },
          "system": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            ],
            "description": "System prompt (string or array of content blocks for caching)"
          },
          "temperature": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 1,
            "default": 1.0,
            "description": "Sampling temperature"
          },
          "top_p": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 1,
            "description": "Nucleus sampling threshold"
          },
          "top_k": {
            "type": "integer",
            "description": "Only sample from top K options"
          },
          "stop_sequences": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Custom stop sequences"
          },
          "stream": {
            "type": "boolean",
            "default": false,
            "description": "Stream responses via SSE"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "user_id": {
                "type": "string"
              }
            },
            "description": "Request metadata for tracking"
          },
          "thinking": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": ["enabled"]
              },
              "budget_tokens": {
                "type": "integer",
                "minimum": 1024
              }
            },
            "description": "Extended thinking configuration (Claude 3.7/4 Sonnet only)"
          },
          "tools": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AnthropicTool"
            },
            "description": "Tools the model may use"
          },
          "tool_choice": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": ["auto", "any", "tool"]
              },
              "name": {
                "type": "string"
              }
            },
            "description": "Controls how model uses tools"
          }
        }
      },
      "AnthropicMessage": {
        "type": "object",
        "required": ["role", "content"],
        "properties": {
          "role": {
            "type": "string",
            "enum": ["user", "assistant"],
            "description": "Role of the message (user or assistant)"
          },
          "content": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            ],
            "description": "Message content (string or content blocks)"
          }
        }
      },
      "AnthropicTool": {
        "type": "object",
        "required": ["name", "input_schema"],
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the tool"
          },
          "description": {
            "type": "string",
            "description": "Description of what the tool does"
          },
          "input_schema": {
            "type": "object",
            "description": "JSON Schema for tool input parameters"
          },
          "cache_control": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": ["ephemeral"]
              }
            },
            "description": "Cache control for prompt caching"
          }
        }
      },
      "MessagesResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique message identifier"
          },
          "type": {
            "type": "string",
            "enum": ["message"],
            "description": "Object type"
          },
          "role": {
            "type": "string",
            "enum": ["assistant"],
            "description": "Always assistant"
          },
          "content": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": ["text", "tool_use", "thinking"]
                },
                "text": {
                  "type": "string"
                },
                "thinking": {
                  "type": "string"
                },
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "input": {
                  "type": "object"
                }
              }
            },
            "description": "Array of content blocks"
          },
          "model": {
            "type": "string",
            "description": "Model that generated the response"
          },
          "stop_reason": {
            "type": "string",
            "enum": ["end_turn", "max_tokens", "stop_sequence", "tool_use"],
            "description": "Why generation stopped"
          },
          "stop_sequence": {
            "type": "string",
            "nullable": true,
            "description": "Stop sequence that was matched, if any"
          },
          "usage": {
            "type": "object",
            "properties": {
              "input_tokens": {
                "type": "integer",
                "description": "Tokens in the input"
              },
              "output_tokens": {
                "type": "integer",
                "description": "Tokens in the output"
              }
            }
          }
        }
      },
      "AgentRequest": {
        "type": "object",
        "required": ["model", "messages"],
        "properties": {
          "model": {
            "type": "string",
            "example": "claude-4-sonnet"
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Message"
            }
          },
          "tools": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "temperature": {
            "type": "number",
            "format": "float"
          },
          "top_p": {
            "type": "number",
            "format": "float"
          }
        }
      },
      "EmbeddingRequest": {
        "type": "object",
        "required": ["model", "input"],
        "properties": {
          "model": {
            "type": "string",
            "example": "cohere-embed-multilingual"
          },
          "input": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Text to embed"
          },
          "input_type": {
            "type": "string",
            "enum": ["search_document", "search_query", "classification", "clustering"]
          },
          "encoding_format": {
            "type": "string",
            "enum": ["raw", "base64"],
            "default": "raw"
          }
        }
      },
      "EmbeddingResponse": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": ["list"]
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "object": {
                  "type": "string",
                  "enum": ["embedding"]
                },
                "index": {
                  "type": "integer"
                },
                "embedding": {
                  "type": "array",
                  "items": {
                    "type": "number"
                  }
                }
              }
            }
          },
          "model": {
            "type": "string"
          },
          "usage": {
            "type": "object",
            "properties": {
              "prompt_tokens": {
                "type": "integer"
              },
              "total_tokens": {
                "type": "integer"
              }
            }
          }
        }
      },
      "ImageGenerationRequest": {
        "type": "object",
        "required": ["model", "prompt"],
        "properties": {
          "model": {
            "type": "string",
            "example": "stable-image-ultra"
          },
          "prompt": {
            "type": "string",
            "maxLength": 10000
          },
          "aspect_ratio": {
            "type": "string",
            "enum": ["16:9", "1:1", "21:9", "2:3", "3:2", "4:5", "5:4", "9:16", "9:21"],
            "default": "1:1"
          },
          "negative_prompt": {
            "type": "string"
          },
          "output_format": {
            "type": "string",
            "enum": ["jpeg", "png"],
            "default": "png"
          },
          "size": {
            "type": "string",
            "enum": ["1344x768", "1024x1024", "1536x640", "832x1216", "1216x832", "896x1088", "1088x896", "768x1344", "640x1536"],
            "default": "1024x1024"
          },
          "seed": {
            "type": "integer",
            "minimum": 0,
            "maximum": 4294967295,
            "default": 0
          }
        }
      },
      "ImageGenerationResponse": {
        "type": "object",
        "properties": {
          "created": {
            "type": "integer"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "b64_json": {
                  "type": "string"
                },
                "revised_prompt": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "MCPServer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "app_id": {
            "type": "string",
            "format": "uuid"
          },
          "process_type": {
            "type": "string"
          },
          "process_command": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "namespace": {
            "type": "string"
          },
          "server_status": {
            "type": "string",
            "enum": ["registered", "disconnected"]
          },
          "primitives_status": {
            "type": "string",
            "enum": ["syncing", "synced", "error"]
          },
          "tools": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "required": ["error", "message"],
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "RerankRequest": {
        "type": "object",
        "required": ["model", "query", "documents"],
        "properties": {
          "model": {
            "type": "string",
            "description": "ID of the rerank model to use",
            "example": "cohere-rerank-3-5"
          },
          "query": {
            "type": "string",
            "description": "The search query or question to rank documents against",
            "example": "How do I optimize database connection pooling?"
          },
          "documents": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Array of text documents to rank by relevance to the query",
            "example": ["Connection pooling reduces overhead by reusing existing connections.", "You can monitor application performance using built-in metrics.", "Set max pool size based on your dyno count and concurrent queries."]
          },
          "top_n": {
            "type": "integer",
            "description": "Number of most relevant results to return. If not specified, returns all documents.",
            "example": 3
          }
        }
      },
      "RerankResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "index": {
                  "type": "integer",
                  "description": "Original index of the document in the input array"
                },
                "relevance_score": {
                  "type": "number",
                  "format": "float",
                  "description": "Relevance score between 0 and 1, where higher is more relevant"
                }
              }
            },
            "description": "Documents ranked by relevance, highest score first"
          }
        }
      }
    }
  }
}
